[Unit]
Description=Run sorting-hat

[Service]
Type=oneshot
ExecStart=/opt/sortinghat/sortinghat scan --dir=/home

[Install]
WantedBy=multi-user.target
